<div class="row p-4">
  <div class="col-md-9 left-container" [class.spinner-position]="load">
    <mat-spinner *ngIf="load" diameter="20" color="accent"></mat-spinner>

    <mat-chip-list>
      <mat-chip *ngIf="(unique || unique === 0) && !load" class="unique-chip">
        Pagos unicos: {{ unique | currency: '$' }}
      </mat-chip>

      <mat-chip *ngIf="(monthly || monthly === 0) && !load" class="monthly-chip">
        Pagos mensuales: {{ monthly | currency: '$' }}
      </mat-chip>

      <mat-chip *ngIf="(recurrent || recurrent === 0) && !load" class="recurrent-chip">
        Pagos recurrentes: {{ recurrent | currency: '$' }}
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="col-md-3 right-container text-end">
    <mat-chip class="save-total-chip">
      Dinero ahorrado: {{ totalSave? totalSave : 0 | currency: '$' }}
    </mat-chip>
  </div>
</div>



