.title {
  font-family: TourneyRegular, serif;
  font-weight: bold;
  color: #00BCD4;
  font-size: 40px;
}

.mustache {
  color: black !important;
  font-size: 85px;
}

.sub-title {
  font-family: ShadowsIntoLightRegular, serif;
  font-weight: bold;
  font-size: 30px;
  color: #EF5350;
  transform: rotate(20deg);
  margin-left: -20px;
}

div {
  text-align: center;
}
