<div *ngIf="day === 12 || day === 13 || day === 14" class="alert-margin">
  <app-alert>
    Completa tus pagos antes que inicie el siguiente periodo,
    una vez que pase el dia 15 podrás editar tu periodo actual.
    <strong>Quedan {{ 15 - day }} dias</strong>
  </app-alert>
</div>

<div *ngIf="day === 15" class="alert-margin">
  <app-alert type="success">
    LLego un nuevo periodo, algunos de los gastos han sido
    estimados, te recomendamos revisarlos y añadir los nuevos gastos del mes.
  </app-alert>
</div>

<div
  class="table-margin-normal"
  [class.table-margin]="day === 12 || day === 13 || day === 14 || day === 15"
>
  <app-table-detail></app-table-detail>
</div>
