.mat-column-type {
  width: 14.28571428571429% !important;
  text-align: center;
}

.mat-column-name {
  width: 14.28571428571429% !important;
  text-align: center;
}

.mat-column-quantity {
  width: 14.28571428571429% !important;
  text-align: center;
}

.mat-column-date {
  width: 14.28571428571429% !important;
  text-align: center;
}

.mat-column-totalQuantity {
  width: 14.28571428571429% !important;
  text-align: center;
}

.mat-column-pay {
  width: 14.28571428571429% !important;
  text-align: center;
}

.mat-column-actions {
  width: 14.28571428571429% !important;
  text-align: center;
}
