<div class="w-100 text-end">
  <button
    mat-mini-fab
    class="mini-button"
    [disabled]="disableAll"
    (click)="onAdd()"
  >
    <em class="mdi mdi-plus mdi-18px success-color"></em>
  </button>
</div>

<form class="mt-4" [formGroup]="form" (ngSubmit)="save()">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        Tipo
      </th>

      <td mat-cell *matCellDef="let element">
        <span *ngIf="!element.edit">
          <em
            *ngIf="element.type === 0"
            class="mdi mdi-calendar-check mdi-24px neutral-color"
            matTooltip="Pago unico"
          >
          </em>

          <em
            *ngIf="element.type === 1"
            class="mdi mdi-calendar mdi-24px pink-color"
            matTooltip="Pago mensual"
          >
          </em>

          <em
            *ngIf="element.type === 2"
            class="mdi mdi-calendar-arrow-right mdi-24px orange-color"
            matTooltip="Pago recurrente (Se cobra por siempre cada mes)"
          >
          </em>
        </span>

        <mat-form-field *ngIf="element.edit" class="w-55 mt-3" appearance="outline">
          <mat-label>
            Tipo
          </mat-label>

          <mat-select formControlName="type" (valueChange)="onChangeType($event)">
            <mat-option selected [value]="0">
              Unico
            </mat-option>

            <mat-option [value]="1">
              Mensual
            </mat-option>

            <mat-option [value]="2">
              Recurrente
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Nombre
      </th>

      <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.edit">
        {{ element.name }}
      </span>

        <mat-form-field *ngIf="element.edit" class="w-88 mt-3" appearance="outline">
          <mat-label>Nombre</mat-label>

          <input
            matInput
            required
            formControlName="name"
          >
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>
        Cantidad
      </th>

      <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.edit">
        {{ element.quantity | currency: '$' }}

        <span *ngIf="element.monthCount" class="pink-color">
          /{{ element.monthCount }}
        </span>
      </span>

        <mat-form-field *ngIf="element.edit" class="w-50 mt-3" appearance="outline">
          <mat-label>Cantidad</mat-label>

          <input
            matInput
            required
            formControlName="quantity"
            type="number"
          >
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>
        Periodo de pago
      </th>

      <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.edit">
        {{ element.startDate | date }} - {{ element.endDate | date }}
      </span>

        <mat-form-field *ngIf="element.edit" class="w-88 mt-3" appearance="outline">
          <mat-label>Periodo de pago</mat-label>

          <mat-date-range-input [rangePicker]="picker" [disabled]="paymentType !== 1" [min]="todayDate">
            <input matStartDate formControlName="startDate">

            <input matEndDate formControlName="endDate">
          </mat-date-range-input>

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalQuantity">
      <th mat-header-cell *matHeaderCellDef>
        Cantidad total
      </th>

      <td mat-cell *matCellDef="let element">
        <span *ngIf="!element.edit">
          {{ element.totalQuantity | currency: '$' }}
        </span>

        <span *ngIf="!element.edit && !element.totalQuantity">
          -
        </span>

        <mat-form-field *ngIf="element.edit" class="w-88 mt-3" appearance="outline">
          <mat-label>Cantidad total</mat-label>

          <input
            matInput
            formControlName="totalQuantity"
            type="number"
          >
        </mat-form-field>

      </td>
    </ng-container>

    <ng-container matColumnDef="pay">
      <th mat-header-cell *matHeaderCellDef>
        Pagado
      </th>

      <td mat-cell *matCellDef="let element">
        <em *ngIf="element.checkLoad" class="mdi mdi-loading mdi-spin"></em>

        <mat-checkbox
          *ngIf="!element.checkLoad"
          [checked]="element.pay"
          [disabled]="disableAll"
          (change)="onSetPaid(element.uuid, $event)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Acciones
      </th>

      <td mat-cell *matCellDef="let element">
        <button
          *ngIf="!element.edit"
          mat-mini-fab
          class="mini-button me-2"
          type="button"
          (click)="onUpdate(element.uuid)"
          [disabled]="disableAll || element.type === 1"
        >
          <em class="mdi mdi-pencil mdi-18px neutral-color"></em>
        </button>

        <button
          *ngIf="!element.edit"
          mat-mini-fab
          class="mini-button"
          type="button"
          [disabled]="disableAll"
          (click)="onRemove(element.uuid)"
        >
          <em class="mdi mdi-trash-can mdi-18px error-color"></em>
        </button>

        <button
          *ngIf="element.edit && !element.newElement"
          mat-mini-fab
          class="mini-button me-2"
          type="button"
          (click)="update()"
        >
          <em class="mdi mdi-check mdi-18px success-color"></em>
        </button>

        <button
          *ngIf="element.edit && !element.newElement"
          mat-mini-fab
          class="mini-button"
          type="button"
          (click)="onCancel(element.uuid)"
        >
          <em class="mdi mdi-close mdi-18px error-color"></em>
        </button>

        <button
          *ngIf="element.newElement"
          mat-mini-fab
          class="mini-button me-2"
        >
          <em class="mdi mdi-check mdi-18px success-color"></em>
        </button>

        <button
          *ngIf="element.newElement"
          mat-mini-fab
          class="mini-button"
          type="button"
          (click)="onCancelNew()"
        >
          <em class="mdi mdi-close mdi-18px error-color"></em>
        </button>
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="7">
        Aún no hay gastos registrados
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 30, 40]" showFirstLastButtons></mat-paginator>
</form>
