.mat-header-cell {
  width: 14.28571428571429% !important;
  text-align: center;
}

.mat-cell {
  width: 14.28571428571429% !important;
  text-align: center;
}

.chip-container {
  background: white;
}

.row-is-actual-period {
  background: #B9F6CA;
}

.save-money {
  font-weight: bold;
  color: #00BCD4;
}
