.mat-header-cell {
  font-weight: bold;
}

.mat-column-period {
  width: 15% !important;
  text-align: center;
}

.mat-column-payments {
  width: 15% !important;
  text-align: center;
}

.mat-column-paid {
  width: 15% !important;
  text-align: center;
}

.mat-column-freeMoney {
  width: 15% !important;
  text-align: center;
}

.mat-column-distribution {
  width: 15% !important;
  text-align: center;
}

.mat-column-actions {
  width: 15% !important;
  text-align: center;
}
