.mat-column-name {
  width: 15% !important;
  text-align: center;
}

.mat-column-debt {
  width: 15% !important;
  text-align: center;
}

.mat-column-remainingDebt {
  width: 15% !important;
  text-align: center;
}

.mat-column-freeMoney {
  width: 15% !important;
  text-align: center;
}

.mat-column-biweekly {
  width: 15% !important;
  text-align: center;
}

.mat-column-actions {
  width: 15% !important;
  text-align: center;
}

.margin-table {
  padding-top: 80px !important;
  padding-bottom: 100px !important;
}

.chip-container {
  background: white;
}

.row-is-clicked {
  background: #E0F2F1;
}
