.mat-header-cell {
  font-weight: bold;
}

.mat-column-name {
  width: 15% !important;
  text-align: center;
}

.mat-column-debt {
  width: 15% !important;
  text-align: center;
}

.mat-column-remainingDebt {
  width: 15% !important;
  text-align: center;
}

.mat-column-freeMoney {
  width: 15% !important;
  text-align: center;
}

.mat-column-biweekly {
  width: 15% !important;
  text-align: center;
}

.mat-column-actions {
  width: 15% !important;
  text-align: center;
}
