<div class="mat-elevation-z8 mt-4">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Periodo
      </th>

      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="debt">
      <th mat-header-cell *matHeaderCellDef>
        Gastos
      </th>

      <td mat-cell *matCellDef="let element">
        {{ element.debt | currency:'$' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="remainingDebt">
      <th mat-header-cell *matHeaderCellDef>
        Por pagar
      </th>

      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.remainingDebt">
          {{ element.remainingDebt | currency:'$' }}
        </span>

        <em
          *ngIf="(element.debt != 0) && (element.remainingDebt == 0)"
          class="mdi mdi-credit-card-check mdi-24px success-color"
          matTooltip="¡Yeeeii! Ya pagaste todos tus gastos"
        >
        </em>

        <em
          *ngIf="(element.debt == 0) && (element.remainingDebt == 0)"
          class="mdi mdi-progress-question mdi-24px neutral-color"
          matTooltip="Parece que no tienes gastos registrados"
        >
        </em>
      </td>
    </ng-container>

    <ng-container matColumnDef="freeMoney">
      <th mat-header-cell *matHeaderCellDef>
        Dinero para gastar
      </th>

      <td mat-cell *matCellDef="let element">
        {{ element.freeMoney | currency:'$' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="biweekly">
      <th mat-header-cell *matHeaderCellDef>
        Toca por quincena
      </th>

      <td mat-cell *matCellDef="let element">
        {{ element.biweekly | currency:'$' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>

      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="onAddPayments()">
          <em class="mdi mdi-plus mdi-18px"></em>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 30, 40]" showFirstLastButtons></mat-paginator>
</div>
