* {
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #fafafa;
}

table {
  width: 100%;
  background: white !important;
}

thead>tr>th {
  font-weight: bold !important;
}

.success-color {
  color: #4CAF50 !important;
  font-weight: bold;
}

.warn-color {
  color: #FFC107 !important;
  font-weight: bold;
}

.neutral-color {
  color: #00BCD4 !important;
  font-weight: bold;
}

.error-color {
  color: #F44336 !important;
  font-weight: bold;
}

.pink-color {
  color: #E91E63 !important;
  font-weight: bold;
}

.orange-color {
  color: #FF5722 !important;
  font-weight: bold;
}

.teal-color {
  color: #009688 !important;
  font-weight: bold;
}

.hard-color {
  color: #C62828 !important;
  font-weight: bold;
}

.medium-color {
  color: #EF6C00 !important;
  font-weight: bold;
}

.w-88 {
  width: 88% !important;
}

.w-55 {
  width: 55% !important;
}

.mat-mini-fab {
  width: 26px !important;
  height: 26px !important;
  position: relative !important;
}

.mat-mini-fab>.mat-button-wrapper {
  position: absolute !important;
  margin-top: -20px;
  margin-left: -9px;
}

.mat-spinner {
  margin:0 auto;
}

.mini-button {
  background: white !important;
}

.pointer {
  cursor: pointer !important;
}

.mdi-26px {
  font-size: 26px !important;
}

.row-is-clicked {
  background: #E0F2F1;
  border-left-width: 3px;
  border-style: solid;
  border-color: #009688;
}

.row-is-disabled {
  pointer-events: none;
  background: lightgray !important;
  border-color: transparent !important;
}

.row-is-disabled>.mat-cell {
  color: gray !important;
}

.row-is-disabled>.mat-cell>.pink-color {
  color: gray !important;
}

.row-is-disabled>.mat-cell>.orange-color {
  color: gray !important;
}

.row-is-disabled>.mat-cell>.neutral-color {
  color: gray !important;
}

.row-is-disabled>.mat-cell>.warn-color {
  color: gray !important;
}

.mat-list-base .mat-list-item .mat-line {
  overflow: unset !important;
  text-overflow: unset !important;
}

.mat-sort-header-container>.mat-sort-header-content {
  width: 100% !important;
  display: block !important;
}

.delete-alert-state {
  background: transparent !important;
}
